.data-table {
  display: block;
  max-width: 100%;

  table {
    width: 100%;
    border-spacing: 0;
    padding-left: 0 !important;
    padding-right: 0!important;

    th,
    td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid #d4d4d4;
      font-size: 14px;
      word-break: break-all;
      vertical-align: middle;

      /* The secret sauce */
      /* Each cell should grow equally */
      width: 1%;
      /* But "collapsed" cells should be as small as possible */
      &.collapse {
        width: 0.0000000001%;
      }
  
      :last-child {
        border-right: 0;
      }
    }
  }

  button {
    word-break: break-all;
    text-align: left;
    font-size: 14px;
  }

}

