.data-table-container {
    width: 100%;
    padding: 20px 0 0 0;


  .status-active {
    color: #28a745; 
    font-size: 20px;
    vertical-align: middle !important;
  }

  .status-inactive {
    color: #dc3545; 
    font-size: 20px;
    vertical-align: middle !important;
  }

}